.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.continue {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 200px;
    padding: 5px 0px;
}

.checkOut {
    background-color: red;
    margin-top: 15px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    width: 200px;
    padding: 5px 0px;
}

.center {
    text-align: center;
}

.center span {
    font-weight: bold;
    font-size: 17px;
}

.overskrift {
    margin: 0px;
    font-weight: bold;
}

.emptyBasket {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1100px) {
    .container {
        width: 95%;
    }
  }