
.productContainer {
    width: 90%;
    background: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 20px 0px;
    margin: 20px auto;
    border-radius: 10px;
}

.img {
    width: 50px;
}


.productImg {
    margin: auto;
    width: 150px;
}

.btn {
    border: 1px solid black;
    padding: 5px 20px;
    width: 100%;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}






  input {
    width: 40px;
    text-align: center;
}


.howMany {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    
}


.btnn {
    text-align: center;
    margin: 0px 15px;
}