
.productContainer {
    width: 99%;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    min-height: 125px;
    max-height: 125px;
    margin: 20px auto;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.img {
    height: 100px;
    width: 100px;
}


.btn {
    border: 1px solid black;
    padding: 5px 20px;
    width: 100%;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}






  input {
    width: 40px;
    text-align: center;
}


.howMany {
    display: flex;
    flex-direction: row;
    
}


.btnn {
    text-align: center;
    margin: 0px 15px;
}

@media (max-width: 550px) {
    .howMany {
        display: flex;
        flex-direction: column-reverse;
    }
  }