
.productContainer {
    width: 100%;
    background: #0000000d;
    text-align: center;
    padding: 20px 0px;
    margin: 20px 0px;
    border-radius: 10px;
}

.img {
    width: 200px;
    margin: auto;
}


.productImg {
    margin: auto;
    width: 150px;
}

.btn {
    border: 1px solid black;
    padding: 5px 20px;
    width: 100%;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.name {
    margin-bottom: 5px;
    margin-top: 5px;
}

.price {
    margin-bottom: 5px;
}





  input {
    width: 40px;
    text-align: center;
}


.howMany {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    
}


.btnn {
    text-align: center;
    margin: 0px 15px;
}