.productContainer {
    width: fit-content;
    margin: 0px 10px;
}

.productImg {
    width: 250px;
    height: 220px;
}

.btn {
    border: 1px solid black;
    padding: 5px 20px;
    width: 100%;
}

.name {
    margin-bottom: 5px;
    margin-top: 5px;
}

.price {
    margin-bottom: 5px;
}